/public
/vendor
/storage
/.docker/**/*
/.git

/.vscode
.editorconfig
.env
.env.*
.gitattributes
.gitignore
.npmrc
.npmec
.npmrc-example
.prettierignore
.phpunit.result.cache

*.xml
*.phar
*.csv
*.pdf
*.log
